// random bits of CSS nicked form samsung

.blind {
    height: 0;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 0;
}

.toggle-content {
    box-sizing: border-box;
    height: 0;
    overflow: hidden;
    transition-duration: 0.3s;
    transition-property: height;
    transition-timing-function: ease;
}