
/* Green: #98d754 */
/* Dark grey: #2c2c2c */

.addwash {
  
}

.addwash .uppercase {
  text-transform: uppercase;
}

.addwash .clear-both {
  clear: both;
}

.addwash img.add-wash-bg-small { display: none; }

.addwash .tpsbundle-intro {
  padding: 0;
}

.addwash .addwash-intro-text {
  padding: 0 2em;
}

.addwash h2.addwash-title {
  color: #2c2c2c;
  margin: 1.5em 0.5em 0.5em 0.5em;
}

.addwash .align-center {
  margin: 0 auto;
}

.addwash h2 span {
  font-weight: normal;
}

.addwash a.tpsbundle-button {
  display: block;
  width: 46%;
  float: left;
  /*margin: 0.5em auto;*/
  margin-top: 2em;
  margin-right: 4%;
  font-size: 1em;
}

.addwash a.tpsbundle-button.blue {
  background-color: #07c6fa;
}

.addwash a.tpsbundle-button.blue:hover {
  background-color: #2c2c2c;
}

.addwash a.tpsbundle-button.black {
  background-color: #2c2c2c;
}

.addwash a.tpsbundle-button.black:hover {
  background-color: #07c6fa;
}

.addwash .spring-offer-single-row .tpsbundle-bundle-item {
  border: 0px solid white;
  margin-bottom: 1.5em;
}

.addwash .spring-offer-single-row .tpsbundle-bundle-content-colors {
  margin-top: 20px;
  padding: 1em 1em 1em 20px;
}

.addwash .spring-offer-single-row .tpsbundle-bundle-content-colors span {
  float: left;
}

.addwash .spring-offer-single-row .tpsbundle-bundle-content-info {
  clear: both;
  padding: 1em 1em 1em 20px;
}

.addwash .spring-offer-single-row .tpsbundle-bundle-content-price {
  padding: 0 1em 0 20px;
}

.addwash .spring-offer-single-row .tpsbundle-bundle-content-info {
  text-align: left;
}

.addwash .spring-offer-single-row .tpsbundle-bundle-content-price {
  text-align: left;
}

.addwash .spring-offer-single-row .tpsbundle-bundle-content-save {
  text-align: left;
  padding: 0 1em 0 20px;
}

.addwash .spring-offer-single-row .tpsbundle-bundle-bottom  {
  background: none;
  padding: 0 1em 0 20px;
}

.addwash .spring-offer-single-row .tpsbundle-bundle-bottom a  {
  padding: 20px;
}

.addwash .tpsbundle-bundle-button  {
  background: #07c6fa;
}

.addwash .tpsbundle-bundle-button:hover  {
  color: #FFF;
  background: #2c2c2c;
}

.addwash a.tpsbundle-button.tpsbundle-button-gray  {
  background: #2c2c2c;
  width: 70%;
  padding: 1.25em 3em 1em;
}

.addwash .blue_bg {
  background: #07a1d7; 
}

.addwash .add-wash-bg {
  background: #e0e0e0 url('/assets/samsung/img/landing/addwash/so-addwash-main.jpg') no-repeat left bottom;
  padding-bottom: 0;
}

.addwash .tpsbundle-keys-info {
  margin-left: 1em;
  margin-right: 1em;
}


.addwash .three-icons p {
  font-size: 1em;
  text-align: center;
}

.addwash .three-icons img {
  display: block;
  margin: 0 auto;
}

.addwash .addwash-blue {
  color: #0176c6;
}

.addwash .addwash-orange {
  color: #ff8458;
}

.addwash .addwash-green {
  color: #7fbd2e;
}

.addwash .three-icons div {
  float: left;
}

.addwash .three-icons div img {
  text-align: center;
}

.addwash .addwash-darkgrey-bg {
  background-color: #2a2a2a;
}

.addwash .blue_turquoise_gradient {
  background: #07a1d7; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #07a1d7 , #10d2ed); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #07a1d7, #10d2ed); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #07a1d7, #10d2ed); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #07a1d7 , #10d2ed); /* Standard syntax */
} 

.addwash .blue_turquoise_gradient .tpsbundle-viewing-info {
  padding: 5em 10em 1em 5em;
}

.addwash .blue_turquoise_gradient .tpsbundle-viewing-info p {
  line-height: 1.75em;
}

.addwash .blue_turquoise_gradient .tpsbundle-viewing-info h2 {
  font-size: 1.25em;
}

.addwash .blue_turquoise_gradient .tpsbundle-viewing-info h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}


.addwash .addwash-tab-products .tpsbundle-bundle-item {
  border: 1px solid #2a2a2a;
}

.addwash .addwash-tab-products .tpsbundle-bundle-content-info {
  text-align: left;
  font-weight: normal;
}

.addwash .addwash-tab-products .tpsbundle-bundle-content-info .version {
  font-weight: 700;
}

.addwash .addwash-tab-products .tpsbundle-bundle-content-price {
  text-align: left;
  padding: 0em 1em 0em 20px;
  font-size: 1em;
  font-weight: normal;
}

.addwash .addwash-tab-products .tpsbundle-bundle-content-price .addwash-bundle-content-save {
  color: #98d754;
  font-weight: bold;
}

.addwash .addwash-tab-products .tpsbundle-bundle-bottom {
  padding: 0;
  background-color: #98d754;
  border-top: 1px solid #2a2a2a;
}

.addwash .addwash-tab-products .addwash-bundle-content-info {
  text-align: left;
  text-transform: uppercase;
  font-weight: normal;
}

.addwash .addwash-tab-products .addwash-bundle-stock-link p {
  margin: 0;
}


.addwash .addwash-tab-products .addwash-bundle-stock-link {
  text-align: left;
  padding: 1em 1em 1em 20px;
}

.addwash .addwash-tab-products .addwash-bundle-button-info {
  font-size: 0.75em;
}

.addwash .addwash-tab-products .tpsbundle-bundle-bottom a {
  margin: 0;
  background-color: #98d754;
  text-transform: none;
}

.addwash .tpsbundle-button.addwash-button {
  width: 20%;
}

.addwash .ticks {
  text-transform: uppercase;
}

.addwash .green-tick {
  margin-left: 20px;
}

/* tabs */
.addwash .easter {
  padding-bottom: 0;
}

.addwash .easter .promotion__products {
  background: none;
}

.addwash .easter .promotions-easter-deal-filter {
  border-bottom: 3px solid #98d754;
}

.addwash .easter .promotions-easter-deal-filter__link {
  border: 0px solid  #98d754;
  border-radius: 0px 0px 0 0;
}

.addwash .easter .promotions-easter-deal-filter__link {
    box-shadow: none;
    font-weight: normal;
    padding: 0.5em 2em 0.3em 2em;
}

.addwash .easter .promotions-easter-deal-filter__link.selected {
    background: #98d754 none repeat scroll 0 0;
    box-shadow: none;
}

.addwash .easter a {
  color: #FFF !important;
}

.addwash .addwash-list li {
  font-size: 1.375em;
  margin: 1.5em;
  color: #4c4c4c;
  font-weight: 700;
}

.addwash .addwash-strong {
  font-weight: 700;
  margin-bottom: 0;
  color: #000;
}

.addwash .margin-top-lg {
  margin-top: 1em;
}

.addwash .vertical-center-lg-md {
  padding-top: 12em;
}

.addwash .addwash-bg-grey {
  background-color: #f7f7f7;
}

.addwash .addwash-padding-for-img-height {
  margin-bottom: 2em;
}

.addwash a.tpsbundle-button.addwash-button-center {
  float: none;
  margin: 1em auto;
}

.addwash a.tpsbundle-button.addwash-button-center:hover {
  background-color: #07c6fa;
}



.addwash .addwash-visible-xs {
  display: none;
}


/* Large screens  */
@media (min-width: 1024px) {
  .addwash .addwash-intro-text p {
    width: 75%;
    margin: 0 auto 1em;
  }
  .addwash .display-large { display: block;}
  .addwash .display-small { display: none;}
}


/* Small screens  */
@media (max-width: 1023px) { 
  .addwash .display-large { display: none;}
  .addwash .display-small { display: block;}  
}

/* Specific media queries  */
@media (min-width: 1510px) and (max-width: 1677px) { 
  .addwash .add-wash-bg { background-size: 1680px 700px; } 
  .addwash img.add-wash-bg-small { display: none;}
  .addwash .add-wash-bg h2 {
    font-size: 48px;
  }
  .addwash .three-icons img {
      height: auto; 
        width: auto; 
        max-width: 80px; 
        max-height: 80px;
    } 
  .addwash .three-icons .large-4 {
    width: 33%;
  } 
}

@media (min-width: 1404px) and (max-width: 1509px) { 
  .addwash .add-wash-bg { background-size: 1560px 650px; } 
  .addwash img.add-wash-bg-small { display: none;}
  .addwash .add-wash-bg h2 {
    font-size: 48px;
  }
  .addwash .three-icons img {
      height: auto; 
        width: auto; 
        max-width: 80px; 
        max-height: 80px;
    } 
  .addwash .three-icons .large-4 {
    width: 33%;
  } 
}

@media (min-width: 1282px) and (max-width: 1403px) { 
  .addwash .add-wash-bg { background-size: 1440px 600px; } 
  .addwash img.add-wash-bg-small { display: none;}
  .addwash .three-icons img {
      height: auto; 
        width: auto; 
        max-width: 80px; 
        max-height: 80px;
    } 
  .addwash .three-icons .large-4 {
    width: 33%;
  } 
}

@media (min-width: 1024px) and (max-width: 1281px) { 
  .addwash .add-wash-bg { background-size: 1200px 500px; background-position: -50px bottom; } 
  .addwash img.add-wash-bg-small { display: none;}
  .addwash .three-icons img {
      height: auto; 
        width: auto; 
        max-width: 80px; 
        max-height: 80px;
    } 
  .addwash .three-icons .large-4 {
    width: 33%;
  } 
  .addwash .blue_turquoise_gradient .tpsbundle-viewing-info h3 {
    margin-top: 0;
  }
  .addwash .blue_turquoise_gradient .tpsbundle-viewing-info {
    padding: 1em 4em 1em 3em;
  }
}
/*@media (min-width: 992px) and (max-width: 1024px) { 
  .add-wash-bg { 
    background-size: 1440px 600px; 
  } 
  .addwash .three-icons img {
      height: auto; 
        width: auto; 
        max-width: 80px; 
        max-height: 80px;
    } 
  .addwash .three-icons .large-4 {
    width: 33%;
  } 
  }*/
  
@media (max-width: 1023px) { 
  .addwash .add-wash-bg { background-image: none; padding: 0; } 
  .addwash .addwash-padding-for-img-height { padding: 0; margin-bottom: 0; }
  .addwash img.add-wash-bg-small { display: block; float: right; }
  .addwash h2.margin-top-on-md { margin-top: 1em;}
  .addwash .vertical-center-lg-md {
    padding-top: 2em;
  }
  .addwash .addwash-strong {
    font-size: 1.375em;
  }
  .addwash .blue_turquoise_gradient .tpsbundle-viewing-info {
    padding: 1em 2em 1em 2em;
  }
  
  .addwash .three-icons img {
      height: auto; 
        width: auto; 
        max-width: auto; 
        max-height: auto;
    }
  .addwash .three-icons .large-4 {
    width: 33%;
  }
  .addwash .promotions-easter-deal-filter li a {
    
  }
  .addwash .promotions-easter-deal-filter li {
    width: 48%;
  }
  
  .addwash .addwash-list {
    padding-left: 1em;
  }
  
  .addwash .addwash-list li {
    text-align: left;
    font-size: 1em;
  }
}

@media (max-width: 799px) { 
  .addwash .ticks {
    text-align: left;
  }
  .addwash .tpsbundle-button.addwash-button {
      width: 75%;
  } 
  .addwash a.tpsbundle-button.tpsbundle-button-gray {
    width: 60%;
  }
  .addwash .promotions-easter-deal-filter li {
    width: 95%;
    /*margin-top: 1em;
    margin-bottom: 1em;*/
  }
  .addwash .easter .promotions-easter-deal-filter__link {
    padding: 0.5em 0.5em 0.4em;
    font-size: 1.5em;
  }
  
  .addwash .addwash-visible-xs {
    display: block;
  }
  
  .addwash .padding-horiz-on-sm {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .addwash a.tpsbundle-button {
    display: block;
    width: 60%;
    margin: 1.5em auto;
    /*margin-top: 1em;
    margin-right: 0;*/
    font-size: 1em;
    float: none;
  }
}



